/* RESET TO HIGHLIGHTED ELEMENTS ON BROWSERS */
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* FLOATING BUTTON */
.create-recipe {
  position: fixed;
  top: 88%;
  right: 2%;
  z-index: 90;

  &__button {
    width: 4rem;
    height: 4rem;
    @include bgGradient;

    border: 0.3rem solid $color-white-light-secondary;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s;
  }

  &__button:active {
    @include clickAnimation;
  }

  &__icon-plus {
    width: 100%;
    height: 100%;
    fill: $color-white-light-secondary;
  }
}

.btn-link:link,
.btn-link:visited {
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @include bgGradient;
  padding: 1rem 2rem;
  margin: 2rem auto;
  border-radius: 5rem;

  font-size: $font-size-medium;
  font-weight: 600;
  color: $color-white-light-secondary;
  letter-spacing: 0.1rem;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-link:hover {
  @include bgGradientOpposite;
}

.btn-link:active {
  @include clickAnimation;
}

.hidden {
  display: none;
}

.activeFlex {
  display: flex;
}
