/**********************************/
/* COLORS */
/**********************************/
$color-white: #fff;
$color-white-light: #fafafa;
$color-white-light-secondary: #f5f5f5;
$color-white-transparent: rgba(255, 255, 255, 0.5);
$color-white-transparent-secondary: rgba(255, 255, 255, 0.3);

$color-primary: #536472;
$color-grey: #777;
$color-grey-light: #ccc;
$color-red: #ef233c;
$color-purple-light: #9695ed;

$color-blue: #0575e6;
$color-green-light: #00f260;
