@include respond(phone) {
  .main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 0 0;

    &__search-message {
      width: 31rem;
      margin: 4rem 0;
      text-align: center;

      &__text {
        font-size: 1.4rem;
        font-weight: 400;
      }

      &__icon-happy {
        width: 2rem;
        height: 2rem;
        fill: $color-primary;
        opacity: 0;
        margin-bottom: -0.5rem;
        margin-left: 0.5rem;
        animation: opacityIn 5s cubic-bezier(0.17, 0.67, 0.92, 0.06) infinite;
        animation-delay: 1s;
      }
    }
  }
}
