@include respond(phone) {
  .nav-list {
    position: fixed;
    top: 0;
    bottom: 0;
    color: $color-primary;

    min-width: 100vw;
    min-height: 100vh;
    z-index: 99;

    background: $color-white;
    overflow-y: scroll;
    overflow-x: hidden;

    &__header {
      height: 5rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 2rem;
      position: relative;
    }

    &__header::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      @include bgGradient;

      height: 0.3rem;
      min-width: 100%;
      @include animation(borderOut, 2s, infinite);
    }

    &__close-button {
      height: 3rem;
      width: 3rem;
      border: none;
      background: none;
      outline: none;
      transition: all 0.2s;
    }

    &__close-button:active {
      @include clickAnimation;
    }

    &__close-icon {
      height: 100%;
      width: 100%;
      fill: $color-primary;
      transition: all 0.2s;
    }

    &__close-icon:active {
      fill: $color-blue;
    }
  }

  /* SECTION */
  .nav-list-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-white;

    &__recipe-container {
      display: flex;
      align-items: center;
      background-color: $color-white-light;

      width: 31rem;
      height: 10rem;

      padding: 1rem 1.5rem;
      margin-bottom: 1rem;

      border-radius: 1rem;
      border: 0.3rem solid $color-white-light-secondary;
      transition: all 0.2s;
    }

    &__recipe-container:first-child {
      margin-top: 1rem;
    }

    &__recipe-container:active {
      transform: scale(0.9);
    }

    &__image-container {
      width: 30%;
      height: 7rem;

      border: 0.2rem solid $color-green-light;
      border-radius: 50%;
      overflow: hidden;
    }

    &__image {
      width: 100%;
      height: 100%;
    }

    &__text-container {
      width: 70%;
      font-size: $font-size-medium;
      margin-left: 1rem;

      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    /* NO RECIPE MESSAGE */
    &__message-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      margin: 4rem;
      text-align: center;
    }

    &__message-text {
      font-size: $font-size-big;
      font-weight: 600;
    }

    &__message-icon-sad {
      width: 3rem;
      height: 3rem;
      fill: $color-primary;
      opacity: 0;

      @include animation(opacityIn, 5s, infinite);
      animation-delay: 1s;
    }
  }
}
