@include respond(phone) {
  .upload-recipe-window {
    position: fixed;
    top: 0;
    bottom: 0;
    color: $color-primary;

    width: 100vw;
    height: 100vh;
    z-index: 100;

    background: $color-white;
    overflow-y: scroll;
    overflow-x: hidden;

    /* hide scrollbar */
    scrollbar-width: none; /* mozilla */
    &::-webkit-scrollbar {
      display: none; /* chrome */
    }
  }

  /* FORM */
  .upload {
    display: flex;
    flex-direction: column;

    &__column {
      margin-bottom: 2rem;
    }
  }

  .wrapper-title {
    position: relative;
    height: 5rem;
    width: 100%;

    display: flex;
    align-items: center;
    padding: 0 1rem;

    &__close-button {
      position: absolute;
      top: 20%;
      right: 5%;

      width: 3rem;
      height: 3rem;
      background: none;
      outline: none;
      border: none;
      transition: all 0.2s;
      cursor: pointer;
    }

    &__close-button:active {
      @include clickAnimation;
    }

    &__close-icon {
      width: 100%;
      height: 100%;
      fill: $color-primary;
    }
  }

  .title-an::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    @include bgGradient;

    height: 0.3rem;
    width: 100%;
    @include animation(borderOut, 7s, infinite);
  }

  .wrapper-label {
    width: 100%;
    height: 5rem;
    margin-top: 1rem;
    padding: 1rem 2rem 1rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    & label {
      font-size: $font-size-medium;
    }

    & input {
      width: 18rem;
      font-family: 'Poppins', sans-serif;
      font-size: $font-size-medium;
      font-weight: 400;
      color: $color-primary;

      outline: none;
      border: 0.2rem solid $color-grey-light;
      border-radius: 2rem;
      padding: 0.5rem 1rem;
      transition: all 0.2s;
    }

    & input:hover,
    & input:focus {
      @include animation(borderIn, 2s, forwards);
      @include shadow;
    }

    & input::placeholder {
      font-weight: 300;
      color: $color-grey-light;
    }
  }

  /* UPLOAD BUTTON */
  .upload-button {
    width: 100%;
    height: 7rem;

    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;

    border-top: 0.3rem solid $color-white-light-secondary;
    background-color: $color-white-light;
    transition: all 0.2s;
    letter-spacing: 0.5rem;
    cursor: pointer;

    &:active {
      letter-spacing: 0;
      background-color: $color-white-light-secondary;
    }

    &__send-icon {
      width: 2rem;
      height: 2rem;
      margin-left: 0.5rem;
      fill: $color-primary;
    }

    &__text {
      font-size: $font-size-big;
      color: $color-primary;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}
